{% extends 'crud/base.html' %}

{% load static %}

{% block title %}{{joyeria.idJoyeria}}{% endblock %}

{% block main_content %}
<div class="container m-4">
<main>
    <div class="row mb-3">
        <h1>ID: {{joyeria.idJoyeria}}</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% if joyeria.image %}
            <img class="img-detail" src="{{joyeria.image.url}}" alt="{{joyeria.name}}">
            {% else%}
            <img class="img-detail" src="{% static 'crud/img/image_not_found.jpg' %}" alt="INF">
            {% endif %}
        </div>
        <div class="col-md-8">
            <ul class="list-unstyled">
                <li class="mb-2">Nombre: <p class="fw-bold">{{joyeria.name}}</p></li>
                <li class="mb-2">Tipo de Joya: <p class="fw-bold">{{joyeria.tipo}}</p></li>
                <li class="mb-2">Marca: <p class="fw-bold">{{joyeria.marca}}</p></li>
                <li class="mb-2">Valor: <p class="fw-bold">${{joyeria.value}}</p></li>
                <li class="mb-2">Stock: <p class="fw-bold">{{joyeria.stock}}</p></li>
                <li class="mb-2 text-muted fst-italic">Registrado: {{joyeria.created_at}}</li>
                <li class="mb-2 text-muted fst-italic">Última actualización: {{joyeria.updated_at}}</li>
            </ul>
            <div class="row">
                <div class="col-2">
                    <a class="btn btn-outline-primary" href="{% url 'joyeria' %}">Volver</a>
                </div>
                <div class="col-2">
                    <a class="btn btn-outline-secondary" href="{% url 'joyeria-edit' joyeria_id=joyeria.idJoyeria %}">Editar</a>
                </div>
                <div class="col-2">
                    <a class="btn btn-outline-danger modal-borrar" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                    data-href="{% url 'joyeria-delete' joyeria_id=joyeria.idJoyeria %}">
                    Eliminar
                </a>
                </div>
            </div>
        </div>        
    </div>
</main>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Atencion!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 class="modal-title">Estas seguro que deseas eliminar la joyeria seleccionada?<br>Esta acción no se puede deshacer.</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancelar</button>
                <a href="#" id="confirmar-borrar" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    $('.modal-borrar').on('click',function(){
        const href = $(this).attr('data-href');
        $('#confirmar-borrar').attr('href',href);
    });
</script>
{% endblock %}